<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CryptoCurrecy Tracker</title>
  <link rel="stylesheet" href="../style.css" type="text/css">
</head>
<body>
  <div class="header">
    <img class="header-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cryptocurrency_Logo.svg/3888px-Cryptocurrency_Logo.svg.png" alt="">
    <div >
      <a class="header-log" href="/auth/login">Log In</a>
      <a class="header-log" href="/auth/register">Register</a>
      <a class="header-reg" href="/">Home</a>

    </div>
  </div>
