.header {
  display: inline-block;
  background-color: #666;
  color: #fff;
  width: 100%;
  padding: 10px;
  margin: -10px;
}

.header-log {
  margin-left: 20px;
  color: #fff;
  float: right;
}

.header-reg {
  color: #fff;
  float: right;
}
.header-img {
  width: 50px;
  height: 50px;

}
.crypto-top {
  display: inline-block;
  height: 400px;
  width: 100%;
  background-color: #169;
}

.meet-top {
  display: inline-block;
  height: 400px;
  width: 100%;
  background-color: #289;
}

.news-top {
  display: inline-block;
  height: 400px;
  width: 100%;
  background-color: #adf;
}
.footer {
  display: inline-block;
  background-color: #666;
  color: #fff;
  width: 100%;
  padding: 10px;
  margin-bottom: -10px;
  margin-left: -10px;
  text-align: center;
  margin-top: 10px;
}
.div-title {
  text-align: center;
  color: #fff;
}
.coin-field {
  display: inline-block;
  background-color: #D8AE48;
  width: 17%;
  text-align: center;
  margin: 10px;
  padding: auto;
  border: 2px solid #fff;
}
.coin-container {
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}
.pos-change {
  color: green;
}
.neg-change {
  color: red;
}
.form-container {
  display: inline-block;
}
form {
  left: 0;
  right: 0;
}

.info-field {
  width: 95%;
  margin: 0 auto;

}
.coin-field-id {
  display: inline-block;
  background-color: #D8AE48;
  width: 18%;
  text-align: center;
  margin: 10px;
  padding: auto;
  border: 2px solid #fff;
}
.news-img {
  width: auto;
  height: auto;
  padding-top: 10px;
}
.news-title {
  color: #fff;
  font-size: 15px;
}
