<% include partials/boilerplate %>
  <div class="header">
    <img class="header-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cryptocurrency_Logo.svg/3888px-Cryptocurrency_Logo.svg.png" alt="">
    <div >
      <a class="header-log" href="#">Log In</a>
      <a class="header-reg" href="#">Register</a>

  </div>
  </div>
  <hr>
  <div class="crypto-top">
    <h1 class="div-title">TOP 5</h1>
    <div class="coin-container">
      <% coins.forEach((coin) => { %>
        <div class="coin-field">
          <p><%= coin.name %>, <%= coin.symbol %></p>
          <p>past 24h: <%= coin.percent_change_24h %></p>
        </div>
      <% }) %>
    </div>
  </div>
  <hr>
  <div class="news-top">
    <h1 class="div-title">CRYPTO HEADLINES</h1>
  </div>
  <hr>
  <div class="meet-top">
    <h1 class="div-title">MEET-UPS</h1>
  </div>
<% include partials/end %>
