<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quotes</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
  <div class="header">
    <img class="header-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cryptocurrency_Logo.svg/3888px-Cryptocurrency_Logo.svg.png" alt="">
    <div >
      <a class="header-log" href="#">Log In</a>
      <a class="header-reg" href="#">Register</a>

  </div>
  </div>
  <hr>
  <div class="crypto-top">
    <p>text</p>
  </div>
  <hr>
  <div class="news-top">
    <p>text</p>
  </div>
  <hr>
  <div class="meet-top">
    <p>text</p>
  </div>
  <div class="footer">
    <h2>MADE WITH &hearts; BY CHANCELORB</h2>
  </div>
  <hr>
</body>
</html>
