<% include partials/boilerplate %>
  <div class="form-container">
  <h1>Login Page</h1>
    <form action="/users" method="post">
      <labal>
        <h3>username</h3>
        <input type="text" name="username" >
      </labal>
      <labal>
        <h3>password</h3>
        <input type="password" name="password" >
      </labal>
      <button type="submit">login</button>
    </form>
  </div>
<% include partials/end %>
