<% include partials/boilerplate %>

  <h1>Register Page</h1>
    <form action="/users" method="post">
      <labal>
        <h3>username</h3>
        <input type="text" name="username" >
      </labal>
      <labal>
        <h3>password</h3>
        <input type="password" name="password" >
      </labal>
      <button type="submit">SUBMIT</button>
    </form>

<% include partials/end %>
